@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#add-task-form {

  .w-full .top-10 {
    top: unset;
  }

  #date {
    outline-color: #fff;
    outline-offset: 0;
    outline-width: 1px;
    border: none;

    &:focus {
      outline-color: #fff;
      outline-offset: 0;
      outline-width: 1px;
    }
  }
}